/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include query($break-m) {
      padding: 10px 30px;
    }
    & + & {
      @include query($break-m) {
        margin-left: 10px;
      }
    }
  }
  
  .default {
    background-color: $color-secondary;
    &:hover {
      @include add-hover-transition($color-secondary);
    }
  }
  
  .error {
    background-color: $theme-9;
    &:hover {
      @include add-hover-transition($theme-9);
    }
  }
  
  .info {
    background-color: $theme-1;
    &:hover {
      @include add-hover-transition($theme-1);
    }
  }
  
  .success {
    background-color: $theme-10;
    &:hover {
      @include add-hover-transition($theme-10);
    }
  }
  
  .warning {
    background-color: $theme-2;
    &:hover {
      @include add-hover-transition($theme-2);
    }
  }