/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

// NOTE:  this file rendered obsolete by media query mixins
/*
@media (min-width: $break-m) {
    
    .container {
      max-width: 1400px;
      @include center-block();
    }
    
    
    .centered {
      @include center-block();
    }
    
    
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
    
    [class^=col] + [class^=col] {
      margin-left: 10px;
    }
    
    .nav {
      
    }
    
    .nav-link {
      flex-basis: 100px;
    }
    
    .btn {
      padding: 10px 30px;
    }
    
    .btn + .btn {
      margin-left: 10px;
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    } */